################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/master_project/FileContentIndex/88f4d418-1d93-46bb-947b-ccea05014ada.vsidx
/.vs/master_project/FileContentIndex/8f8b9db3-e198-4ebb-9493-559c1fec2468.vsidx
/.vs/master_project/FileContentIndex/abcd632b-ed08-4b5e-a6f5-5b454c771278.vsidx
