################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/master_project/FileContentIndex/88f4d418-1d93-46bb-947b-ccea05014ada.vsidx
/.vs/master_project/FileContentIndex/8f8b9db3-e198-4ebb-9493-559c1fec2468.vsidx
/.vs/master_project/FileContentIndex/abcd632b-ed08-4b5e-a6f5-5b454c771278.vsidx
/.vs/master_project/FileContentIndex/788cbe3c-1c35-42ab-b2a2-00d3f1b24255.vsidx
/.vs/master_project/FileContentIndex/829a5ad2-d46c-4fcd-abdf-c48b3b96fee8.vsidx
/.vs/master_project/FileContentIndex/a38bc83c-a0c0-4f98-8a10-15bd1d65116a.vsidx
/.vs/master_project/FileContentIndex/3659c113-ea81-4295-8e2e-b0797c5e2718.vsidx
/.vs/master_project/FileContentIndex
